@font-face {
  font-family: 'KOTRA';
  src: url('../../../../font/KOTRA_BOLD.ttf') format('truetype');
}

@font-face {
  font-family: 'NEUE';
  src: url('../../../../font/BebasNeue-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  background-color: #310c0c;
  padding-bottom: 50px;
}

::-webkit-scrollbar {
  display: none;
}

/* ----------------------------------------------------- */
/* 헤더 */



/* ----------------------------------------------------- */
/* 메인 */

#container {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  gap: 20px;
}


/* --------------------------- */
/* 중앙 목록 */

.limbus {
  font-family: 'KOTRA';
  margin-bottom: 50px;
  width: 100%;
  height: 100%;
  background-color: #3f221b;
  border-radius: 5px;
  border: 10px solid #9b6b50;
  font-weight: bold;
  text-align: center;
}

.limbus h1 {
  color: #EBCEA4;
  font-size: 300%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 10px solid #9b6b50;
}

.limbus h2 {
  font-size: 0;
  position: absolute;
  left: -9999px;
}

.limbus ul li {
  padding: 20px;
  border-bottom: 1px solid #9b6b50;
}

.limbus ul li p {
  font-size: 250%;
  text-shadow: 0 0 10px #ffd900;
  color: #f0bf01;
  align-content: center;
}


/* --------------------------- */
/* 아코디언 토글 */

.accordion-toggle {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #dbba00;
  font-size: 200%;
  padding: 20px;
  display: flex;
  gap: 15px;
  cursor: pointer;
  text-align: center;
}

.accordion-toggle img {
  width: 50px;
  height: auto;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
  font-size: 0.9em;
  padding: 0 10px;
  color: #f0c040;
}

._1_star td:first-child a,
._2_star td:first-child a,
._3_star td:first-child a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

._1_star td:first-child img,
._2_star td:first-child img,
._3_star td:first-child img {
  display: block;
}

/* --------------------------- */
/* 이미지 바꿈 */

.hover-image {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  text-align: center;
}

/* 이미지 기본/hover 공통 */
.hover-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  transition: opacity 0.4s ease;
}

/* hover용 이미지: 겹쳐지게 */
.hover-image img.hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 1;
}

/* hover 시 전환 */
.hover-image:hover img.hover {
  opacity: 1;
}

/* --------------------------- */
/* ZAYIN */

.accordion-content .ZAYIN {
  color: #EBCEA4;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

.accordion-content .ZAYIN th {
  border: 5px solid #9b6b50;
  font-size: 25px;
  font-weight: bold;
  background-color: #b27c47;
}

.accordion-content .ZAYIN td {
  border: 5px solid #9b6b50;
  font-size: 25px;
  font-weight: bold 50%;
  color: #f0c040;
  text-shadow: 0 0 10px #f0bf01;
}

.accordion-content .ZAYIN a {
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.accordion-content .ZAYIN img {
  max-width: 75%;
}

.accordion-content .ZAYIN #highlight {
  color: #d4e1e9;
  text-shadow: 0 0 10px #d4e1e9;
}

.accordion-content .ZAYIN #walpurgisnacht {
  color: #37a737;
  text-shadow: 0 0 10px #37a737;
}

/* --------------------------- */
/* TETH */

.accordion-content .TETH {
  color: #EBCEA4;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

.accordion-content .TETH th {
  border: 5px solid #9b6b50;
  font-size: 25px;
  font-weight: bold;
  background-color: #c28100;
}

.accordion-content .TETH td {
  border: 5px solid #9b6b50;
  font-size: 25px;
  font-weight: bold 50%;
  color: #f0c040;
  text-shadow: 0 0 10px #f0bf01;
}

.accordion-content .TETH a {
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.accordion-content .TETH img {
  max-width: 75%;
}

.accordion-content .TETH #highlight {
  color: #d4e1e9;
  text-shadow: 0 0 10px #d4e1e9;
}

.accordion-content .TETH #walpurgisnacht {
  color: #37a737;
  text-shadow: 0 0 10px #37a737;
}

/* --------------------------- */
/* HE */

.accordion-content .HE {
  color: #EBCEA4;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

.accordion-content .HE th {
  border: 5px solid #9b6b50;
  font-size: 25px;
  font-weight: bold;
  background-color: #ff9900;
}

.accordion-content .HE td {
  border: 5px solid #9b6b50;
  font-size: 25px;
  font-weight: bold 50%;
  color: #f0c040;
  text-shadow: 0 0 10px #f0bf01;
}

.accordion-content .HE a {
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.accordion-content .HE img {
  max-width: 75%;
}

.accordion-content .HE #highlight {
  color: #d4e1e9;
  text-shadow: 0 0 10px #d4e1e9;
}

.accordion-content .HE #walpurgisnacht {
  color: #37a737;
  text-shadow: 0 0 10px #37a737;
}

/* --------------------------- */
/* WAW */

.accordion-content .WAW {
  color: #EBCEA4;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

.accordion-content .WAW th {
  border: 5px solid #9b6b50;
  font-size: 25px;
  font-weight: bold;
  background-color: #ff6600;
}

.accordion-content .WAW td {
  border: 5px solid #9b6b50;
  font-size: 25px;
  font-weight: bold 50%;
  color: #f0c040;
  text-shadow: 0 0 10px #f0bf01;
}

.accordion-content .WAW a {
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.accordion-content .WAW img {
  max-width: 75%;
}

.accordion-content .WAW #highlight {
  color: #d4e1e9;
  text-shadow: 0 0 10px #d4e1e9;
}

.accordion-content .WAW #walpurgisnacht {
  color: #37a737;
  text-shadow: 0 0 10px #37a737;
}

/* --------------------------- */
/* ALEPH */

.accordion-content .ALEPH {
  color: #EBCEA4;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}

.accordion-content .ALEPH th {
  border: 5px solid #9b6b50;
  font-size: 25px;
  font-weight: bold;
  background-color: #ff1e00;
}

.accordion-content .ALEPH td {
  border: 5px solid #9b6b50;
  font-size: 25px;
  font-weight: bold 50%;
  color: #f0c040;
  text-shadow: 0 0 10px #f0bf01;
}

.accordion-content .ALEPH a {
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.accordion-content .ALEPH img {
  max-width: 75%;
}

.accordion-content .ALEPH #highlight {
  color: #d4e1e9;
  text-shadow: 0 0 10px #d4e1e9;
}

.accordion-content .ALEPH #walpurgisnacht {
  color: #37a737;
  text-shadow: 0 0 10px #37a737;
}

/* --------------------------- */
/* 죄악 속성 */

.Irae {
  color: #ff0004 !important;
  text-shadow: 0 0 10px #ff0004 !important;
}

.luxuriae {
  color: #ff6a00 !important;
  text-shadow: 0 0 10px #ff6a00 !important;
}

.pigritiae {
  color: #ffc800 !important;
  text-shadow: 0 0 10px #ffc800 !important;
}

.gulae {
  color: #a6ff00 !important;
  text-shadow: 0 0 10px #a6ff00 !important;
}

.morositatis {
  color: #00d0ff !important;
  text-shadow: 0 0 10px #00d0ff !important;
}

.superbiae {
  color: #005eff !important;
  text-shadow: 0 0 10px #005eff !important;
}

.invidiae {
  color: #ae00ff !important;
  text-shadow: 0 0 10px #ae00ff !important;
}

/* --------------------------- */
/* 접고 펴기 */

.accordion-item.active .accordion-content {
  max-height: 10000px;
}

.accordion-header {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  height: 250px;
}

.accordion-header img {
  width: 100px;
  max-width: 25%;
  max-height: 25%;
}

/* ----------------------------------------------------- */
/* 푸터 */

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #690000;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-weight: bold;
  border: 5px solid #9b6b50;
  z-index: 9999;
}

#footer ul {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

#footer li a {
  font-family: 'KOTRA';
  overflow: visible;
  position: relative;
  bottom: 20px;
  color: #fff;
  padding: 10px 15px;
  background-color: #3f221b;
  border: 5px solid #9b6b50;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s;
  box-shadow: 0 5px 0 2px #110a02;
}

#footer li a:hover {
  background-color: #8a320f;
  color: #ffd900;
  box-shadow: 0 3px 0 0px #110a02;
  bottom: 16px;
}

#footer address {
  letter-spacing: 1px;
  font-family: 'NEUE';
  font-weight: normal;
  font-style: normal;
}